<header>
  <div class="nav_fix">
    <nav class="nav_green">
      <div class="nav-wrapper">
        <a target="_parent" href="" data-activates="mobile-sidenav" class="button-collapse left_m waves-effect waves-light sidenavopenar"><i class="material-icons">menu</i></a>

        <a href="">
          <img src="https://ble123.com/thumbs/200X56/manifests/SHOPMY/logo/292636347841845667359.png" class="logo">
        </a>

        <i class="fa fa-bell notficationbell" aria-hidden="true">
                            <span>0</span>
                        </i>
        <a data-ng-show="showqrmenu" class="right qrcodeholder" data-ng-cloak>
                            <i class="fa fa-qrcode" aria-hidden="true"></i>
                        </a>
        <a target="_parent" data-ng-cloak href="#/template/cart" data-activates="mobile-demo" class="button-collapse waves-effect cart-top"><i class="fa fa-shopping-cart"></i><span id="CartCount">0</span></a>


      </div>
    </nav>
    <ul class="under_tabe" ng-cloak>
      <li class="waves-effect waves-light">
        <a data-ng-href="" target="_parent">
                            <i class="fa-address-card-o" aria-hidden="true"></i>
                            <span>title</span>
                        </a>
        <a target="_parent">
                            <i class="fa-address-card-o" aria-hidden="true"></i>
                            <span>title</span>
                        </a>
      </li>
      <ul id='dropdown1' class='dropdown-content'>
        <li class="waves-effect waves-light">
          <a target="_parent">
                                <i class="fa-address-card-o" aria-hidden="true"></i>
                                <span>Title</span>
                            </a>
        </li>

      </ul>
    </ul>
  </div>
  <ul class="side-nav" id="mobile-sidenav">
    <li class="nav_home"><a href="#">Home <i class="fa fa-home" aria-hidden="true"></i></a></li>
    <li>
      <a target="_parent">Title <i class="fa fa-address-card-o" aria-hidden="true"></i></a>
    </li>

  </ul>
</header>